.wrapper{
    background-color: var(--black-color);
    display: flex;
    padding-top: 0;
padding-bottom: 1rem;
gap:1rem;

}

.leftSection{
margin-left: 9rem ;
margin-top: 5rem;
display: flex;
flex-direction: column;
width: 50%;
}
.description{
    color: var(--white-color);
    opacity: 30%;
    font-weight: 500;
    font-size: 1.2rem;
    width: 38rem;
    margin-top: 1rem;
}
.headerText{
    font-size: 4.2rem;
    font-weight: 500;
    width: fit-content;
}
.imgContainer{
    height:  545px;
    width: 468px;
    background: url(../../Assets/heroImg.svg);
}